@import '../../common.less';

.root {
  font-family: 'Raleway', sans-serif;
  padding: @header-height @main-container-padding @main-container-padding @main-container-padding;
  background: #182026;
  color: white;
}

.container {
  min-height: calc(~'100vh - @{footer-height} - @{header-height}');
}
