@logo-typeface: 'Lobster', cursive;

@main-container-padding: 10px;
@page-title-font-size: 2em;

@primary-color: #F06292;
@primary-background-color: #3F51B5;
@background-color: #182026;
@text-color: white;

@header-height: 64px;
@footer-height: 200px;
