@logo-typeface:     'Lobster', cursive;
@standard-typeface: 'Raleway', sans-serif;
@mono-typeface:     'Ubuntu Mono', monospace;

@dark-orange: #dc8f00;
@orange:      #ffca00;
@dark-blue:   #115faf;
@blue:        #43a8fe;
@dark-pink:   #d73373;
@pink:        #ff67a0;
@dark-night:  #182026;
@snow-white:  #fafafa;

@breakpoint-mobile-m: 375px;
@breakpoint-mobile-l: 425px;
@breakpoint-laptop: 1024px;

body {
  font-family: @standard-typeface;
}

a {
  text-decoration: none;
  color: @pink;
}
